body {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Play', sans-serif;
    background-color: rgb(7, 7, 61);
    padding: 100px;
}

.Substrate {
    background-color: rgb(177, 195, 206);
    padding: 50px;
    font-size: 25px;
}
footer {
    font-size: 13px;
}