body {
    font-family: Lato;
    margin: 0;
    min min-width: 1400px;
}
.main_class {
    width:1400px ;
    margin: 0 auto;
    padding: 0px,15px;
}
header {
    background-color:#ED4C5C;
    margin: 0;
    height: 500px;
    left: 0px;
    top: 0px;
    color: #FFFFFF;
    padding: 35px; 
}
.Header-content h1 {
    width: 408px;
    margin-top: 89px;
    margin-left: 7px;
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px
    }
.Header-content p {
    width: 510px;
    height: 64px;
    margin-left: 2px;
}
.IMG1 {
    width: 140px;
    height: 32px;
    padding-top: 40px;
}
.IMG2 {
   
    width: 445px;
    height: 264px;
    margin-top: -226px;
    margin-left: 551px;
}
.Main-content {
    margin: 0;
    height: 444px;
    left: 0px;
    top: 500px;
    background-color:#FFFFFF ;
    color: black; 
    margin: auto;
    padding: 199px;
}
.Main-content h2 {
    width: 445px;
    height: 27px;
    left: 176px;
    top: -396px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}
.Main-content p {
    width: 434px;
    height: 64px;
    left: 176px;
    top: -280px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}
.Main-content form {
    width: 540px;
    height: 305px;
    margin-left: 689px;
    margin-top: -128px;
    margin-bottom: -33px;
}
.First_Name {
    height: 47px;
    width: 185px;
    margin-right: 20px;
    padding-left: 15px;
}
.Last_Name{
    height: 47px;
    width: 185px;
    padding-left: 15px;
}
.Phone_Number {
    height: 47px;
    width: 416px;
    margin-top: 20px;
    padding-left: 15px;
}
.Service{
    margin-top: -69px;
    height: 50px;
    width: 437px;
    padding-left: 15px;
}
.submit_button {
    background-color: #ED4C5C;
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}
footer {
    margin: 0;
    height: 388px;
    left: 0px;
    top: 219px;
    background-color:#FAFAFA ;
    padding: 15px;    
}
.conteiner {
    width: 25%;
    height: 264px;
    top: 10px;
    color:black ;
}
footer h3 {
    margin-bottom: 35px;
}
.first {
    float: left;
    width: 197px;
    margin-right: 25px;
    margin-left: 9px;
}
.second {
    float: left;
    margin-left: 25px;
    width: 150px;
    margin-left: 142px;
}
.third  {
    float: left;
    margin-right: 126px;
    width: 190px;
    margin-left: 155px;

}
.fourth {
    float: left   
}
.clearfix {
    width: 0px;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.Fix-bo {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

