mixin buttons 
    .buttons 
        .btn__list 
            button btn--background--blue Download
            button btn--background--opacity Download
            button btn--color--dark Download
            button btn--color--blue Download