

.search {
    box-sizing: border-box;
    padding-left:82px;
}
.search1 {
   width: 149px; 
}
.header-pictures {
    position: relative;
    width: 250px;
    margin-top: 15px;
}
.five {
    width: 20px;
    padding-left: 5px;
    z-index: 1;
    position: absolute;
    top: -13px;
    left: 79px;
}   
/*Maine*/
.maine-box {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 250px;
}
.header-box {
     width: 350px;
}
.ava {
    width: 154px;
    height: 153px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../pictures-HW-11/gratis-png-linea-sky-plc-linea-thumbnail.png);
    border-radius: 100px;
    border: 1px solid #DBDBDB;
    margin: 30px 70px 30px 30px;
}
.ava-background {
    width: 27%;
}
.right-side {
   width: 83%;   
}
.ellipse {
   width: 79px;
    height: 79px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../pictures-HW-11/gratis-png-linea-sky-plc-linea-thumbnail.png);
    border-radius: 100px;
    border: 1px solid #DBDBDB;
}
.post {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.square {
    width: 350px;
    height: 350px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../pictures-HW-11/gratis-png-linea-sky-plc-linea-thumbnail.png);
    border: 1px solid #DBDBDB;      
}
/*FOTO*/
.ava-3 {
    
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}
@media screen and (min-width: 250px) and (max-width:766px) {
    .maine-box {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    order: 1;
    margin-top: 200px;
    }
    .ava-background {
        order: 2;  
    } 
}
/*Post*/
.menu-post {
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
