body {
    min-width:1200px ;
    background-color: rgb(44, 44, 44);
    font-family: 'Lato', sans-serif;
}
/*Class to all tables*/
.maine_container {
    width:1200px ;
    margin: 0px auto;
    padding-left: 70px;
}
.first_column {
    opacity: 1;
}
.third_column {
    opacity: 1;
    width: 15px;
    height: 10px;
}
.dots {
    margin-left: 50px;
    margin-left: 209px;
    margin-right: -170px;
}
.border_contanier {
    width: fit-content;
    border: 1px solid #616161;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 150px;
}
/*Tabel1*/
.table1 {
    margin-top: -1px;
    border-radius: 10px;
}
.table1 th {
    margin: left 10px; ;
}
.third_column_tabel1 {
    width: 57px;
    height: 10px;  
}
 .border_contanier2 {
    width: fit-content;
    border: 1px solid #616161;
    overflow: hidden;
    border-radius: 10px;
 }
/*Tabels2*/
.third_column_tabel2 {
    width: 57px;
    height: 10px;
    opacity: 1;
}
.box-blue_table2 { 
    margin-right: 5px; 
}
/*Tabels3*/
.table3 {
    opacity:0.8;
    border-radius: 6px;
    margin: 0px;
}
.img_tabel3 {
    margin-left: 0px;
    margin-bottom:-3px ;
}
.blue_box_table3 {
    margin-bottom: -3px;
}
.border_contanier3 {
    width: fit-content;
    border: 1px solid #616161;
    overflow: hidden;
    border-radius: 10px;
}
/*Tags*/
table {
    width: 800px;
    color: white;
    border-radius: 40px;
}
img {
    height: 19px;
}
tr {
    padding-right: 10px;
}
th {
    padding: 5px;
    width: 50px;
}
td {
    opacity: 0.2;
    width: 50px;
}
.search {
    border: 1px solid #000;
    padding: 5px 5px 5px 40px;
    height: 31px;
    background: url(https://fonts.google.com/icons?selected=Material+Icons) no-repeat 3px 1px;
    background-size: auto 90%;
    border-radius: 6px;
    border-color: rgb(44, 44, 44);
    margin-right: -196px;
    margin-top: 0px;
    margin-left: 30px;
    background-color: rgb(60, 62, 63);
}
.table1 frame {
    border-radius: 6px; 
}