body {

}
.maine-conteiner {
    max-width: 1440px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 0px auto;
}
/*Header*/
.header_flex_conteoner {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
    /*Logotype*/
    .header_flex_conteoner img {
        margin-bottom: -20px;
    }

    /*Menu*/
    .menu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
        .menu_1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #111111;
            margin: 0px 20px;
        }
        .menu_2 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #111111;
            margin: 0px 20px;

        }
        .menu_3 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #111111;
            margin: 0px 20px;
        }
        .menu_4 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #111111;
            margin: 0px 20px;
        }
    /*The ride side or the header*/
    .right_side {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #2B7AF1;
        max-width: 750px;
        padding-bottom: 150px;
    }
    .flat_1 {
          margin-left: -165px;  
        }
        /*Contacts*/
        .contacts {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            padding: 15px 30px;
            position: relative;
            background-color:  #2B7AF1;
            margin-left: 10px;
            width: 100%;
        }
            .contacts_mail {
                padding: 15px 30px;
            }
                .contacts_mail span {
                    position: absolute;
                    left: 19px;
                    bottom: 15px;
                }
                .contacts_mail a {
                    margin-left: 5px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: white;
                }
                .contacts_mail img {
                    margin-bottom: 0px;
                }
            .contacts_tel {
                padding: 15px 30px;
            }
                .contacts_tel span {
                    position: absolute;
                    left: 210px;
                    bottom: 15px;
                }
                .contacts_tel a {
                    margin-left: 5px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: white;
                }
                .contacts_tel img {
                    margin-bottom: 0px;
                }
        /*Submuti the call*/
        .submuti_the_call {
            background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
            box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
            border-radius: 25px;
            padding: 15px 30px;
            color: white;
            border: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
    /*The left side or the header*/
    .left_side {
         margin-top: -614px;
    }
        .left_side h1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 49px;
            display: flex;
            align-items: center;
            color: black;
        }
        .left_side p {
            color: black;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 71px;
        }
        .look_the_options {
            background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
            box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
            border-radius: 25px;
            padding: 15px 30px;
            color: white;
            border: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
    /*Four stages*/
.four_stages {
    display: grid;
    padding: 15px;
    width: 88%;
    border: none
    grid-auto-rows: 200px;
    gap: 15px;
    margin-top: 150px;
    margin: 20px, auto, 0, auto;
    grid-template-columns: repeat(auto-fit , minmax(150px ,1fr));
}
.item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: black;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
   
}
    .item-1 {

    }
    .item2 {
        
    }
    .item3 {
        
    }
    .item4 {
        
    }
/*MAINE*/
    /*Our Flat*/
    .our_flat {
        display: grid;
        width: 88%;
        grid-template-columns:repeat( 3 , 1fr) ;
        grid-auto-rows: 300px, 300px;
        margin-top: 50px;
        gap: 15px;
        grid-template-areas: 
        "m1 m1 m2"
        "m3 m4 m4";
    }
    .our_flat_head {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;        
        line-height: 44px;
        color: #2B7AF1;
        margin-top: 150px;
   }
    .item1 {
        background: rgba(17, 17, 17, 0.5);
        border-radius: 10px;
        padding: 25px;
    }
    .item1 h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: white;
    }
    .item1 p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: white;
    }
    .submuti_deteils {
        background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
        box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
        border-radius: 25px;
        color: white;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding: 8px 20px;

    }
    .submuti_deteils-1 {
        margin-left:584px ;
        
    }
    .submuti_deteils-2 {
        margin-left:273px ;
       
    }
    .submuti_deteils-3 {
        margin-left:268px ;
        
    }
    .submuti_deteils-4 {
        margin-left:589px ;
       
    }
    .shadow {
        background: rgba(31, 15, 15, 0.5);
        border-radius: 10px;
        }
        .item1_1 {
            background: url(background1.png)  50%/cover no-repeat;
            grid-area: m1;
            filter: drop-shadow(0px 10px 20px rgba(17, 17, 17, 0.3));
            border-radius: 10px
        }
        .item1_2 {
            background: url(background2.png)  50%/cover no-repeat;
            border-radius: 10px;
            grid-area: m2;
        }
        .item1_3 {
            background: url(background3.png)  50%/cover no-repeat;
            grid-area: m3;
            border-radius: 10px;
        }
        .item1_4 {
            background: url(background4.png)  50%/cover no-repeat;
            grid-area: m4;
            border-radius: 10px;
        }
    /*<!--Buttom look at all flats-->*/
    .all_flats {
         background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
        box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
        border-radius: 25px;
        padding: 15px 30px;
        color: white;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-top: 100px;
        margin-left: 446px;
    }
    /*About us*/
    .about_us {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        border-bottom: 2px solid #FF7A00;
        padding-bottom: 40px;
    }
        .about_us-1 {

            }
            .about_us-1 h3 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                font-size: 36px;
                line-height: 44px;
                color: #2B7AF1;
                margin-bottom: 40px;

            }
            .about_us-1 p {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: black;
            }
        .about_us-2 {
            display: flex;
            flex-direction: row;
            margin-top: 40px;
        }
            .about_us-2-1{
                display: flex;
                flex-direction: row;
                font-family: Manrope;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                color: black;
                margin: 80px;
            }
                .us_1 {
                    margin-left: 10px;
                }
            .about_us-2-2{
                display: flex;
                flex-direction: row;
                font-family: Manrope;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                color: black;
                margin: 80px; 
            }
                .us_2 {
                   margin-left: 10px;
                } 
            .about_us-2-3{
                display: flex;
                flex-direction: row;
                font-family: Manrope;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                color: black;
                margin: 80px;  
            }
                .us_3 {
                    margin-left: 10px;
                }
/*Contacts*/
.contacts-1 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-right: 250px;
    width: 88%;
    margin-bottom: 150px;
}
.contacts-1 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
}
.contacts_inf {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: black;
}
.contacts_inf-1  {
    display: flex;
    flex-direction: column;

}
.contacts_inf-1-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    
}
    .contacts_inf-1-1 img {

    }
    .contacts_inf-1-1 span {
        margin-top: 9px;
        margin-right: -72px;
    }
.contacts_inf-1-2 {
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    background-color: white;
    margin-bottom: 10px;
}
    .contacts_inf-1-2 img {
        
    }
    .contacts_inf-1-2 span {
        margin-top: 9px;
    }
.contacts_inf-1-3 {
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    margin-bottom: 10px;
}
    .contacts_inf-1-3 img {
       
    }
    .contacts_inf-1-3 span {
        margin-top: 9px;
    }
.contacts_inf-1 span { 
    margin-left: 15px;
}
.contacts_inf-2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.contacts_inf-2 span { 
    margin-left: 15px;
}
.contacts_inf-2-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;    
}
    .contacts_inf-2-1 img {

    }
    .contacts_inf-2-1 span {
        margin-top: 9px;
    }
    .contacts_inf-2-1 button {
        margin-left: 200px;
    }
.contacts_inf-2-2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; 
}
    .contacts_inf-2-2 img {

    }
    .contacts_inf-2-2 span {
         margin-top: 9px;
    }
    .contacts_inf-2-2 button {
        margin-left: 200px;
        
    }
.signature {
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    color: white;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 8px 20px;
    margin-left: 422px;
    margin-right: -241px;
}
.signature-2 {
    margin-top: 10px;
}
.map {
    margin-left: 250px;
}
/*Coments*/
.coments {
   background: #2B7AF1;
   width: 100%; 
   padding-top: 100px;
   padding-bottom: 200px;
   padding-left: 40px;
   padding-right: 40px;
   position: relative;

}
.coments h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    color: white;
}
.coments_img-1 {
    margin-left: 1150px;
    position: absolute;
    top: 98px;
    left: 150px;
}
.group {
  position: absolute;
  top: 376px;
}
.group-25 {
     margin-left: -30px;
}
.group-24 {
  left: 1389px;
  position: absolute;
  z-index: 5;
}
.slider {
    position: absolute;
    left: 725px;
    bottom: 132px;
}
.coments-1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 292px;
    background-color: white;
    gap: 30px;
    padding: 25px;
    background: #2B7AF1;
    padding: 20px;
    margin-top: 10px;
    
}
 .coments_heder {
     display: flex;
     flex-direction: row;
 }
.coments-1-1 {
    background-color: white;
    padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 30px;
   padding-right: 10px;
   border-radius: 15px;   
}
.coments-1-1 img {
    margin-left: 80px;
    margin: 25px;
    margin-left: 280px;

}
.coments-1-1 h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2B7AF1;

}
.coments-1-1 p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
    .p-1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        color: #2B7AF1;
    }
    .p-2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: black;
    }
    .p-3-1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: black;
        margin-left: 450px;
    }
       
.coments-1-2 {
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 10px;
        z-index: 1;
        border-radius: 10px; 
}
.coments-1-2 img {
    margin-left: 80px;
    margin: 25px;
    margin-left: 280px;

}
.coments-1-2 h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2B7AF1;
    margin-right: -17px;

}
.coments-1-2 p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
    .p-1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        color: #2B7AF1;
        margin-bottom: 0px;
    }
    .p-2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: black;
    }
    .p-3-2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: black;
        margin-left: 380px;
    }
   .p2_p3 {
       display: flex;
       flex-direction: row;
       margin-top: -16px;
   }
   /*Footer*/
   /*Box1*/
   .box1-footer {
       display: flex;
       flex-direction: row;
       position: relative;
       margin-top: 200px;
   }
   .box1-footer-1 {
       filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
       background: #FFFFFF;
       border-radius: 10px; 
       padding: 20px; 
       margin-left: 218px;
       z-index: 1;  
   }
   .box1-footer-1 h3 {
       font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #2B7AF1;
        margin-right: 164px;
        text-align: center;
        width: 100%;
   }
   .Name {
       border: 1px solid rgba(17, 17, 17, 0.5);
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 20px;
        padding-left: 20px;
       padding-bottom: 15px;
       padding-top: 15px;
   }
   .email {
       border: 1px solid rgba(17, 17, 17, 0.5);
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 20px;
        padding-left: 20px;
       padding-bottom: 15px;
       padding-top: 15px;
   }
   textarea  {
       border: 1px solid rgba(17, 17, 17, 0.5);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        margin-bottom: 20px;
   }
.submit_button-footer {
    padding: 15px 30px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    margin-left: 124px; 
    color: white;       
}
.box1-footer-2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin-left: 100px;
}
.p-footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2B7AF1;

}  
.p-footer-1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
} 
.img-footer-2 {
    position: absolute;
    top: -24px;
    left: 679px;
} 
/*box2-footer*/
.box2-footer {
    display: flex;
    flex-direction: row;
    height: 557px;
    filter: drop-shadow(6px 6px 20px black) invert(12%);
    background: url(footer-bacrground.png)  50%/cover no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -205px;
    
}
.all { 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 153px;
    margin-right: 358px;
    margin-bottom: -52px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    width: 81%;
    margin-left: 71px;
    z-index: 10;
}
.footer-logotype {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #2B7AF1;
    border-radius: 10px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 34px;
    padding-right: 34px;
    margin-left: -140px;
    margin-bottom: -13px;
}
.menu-footer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-right: 25px;
    }
        .menu_1-1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color:white;
            margin: 0px 20px;
        }
        .menu_2-1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color:white;
            margin: 0px 20px;

        }
        .menu_3-1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color:white;
            margin: 0px 20px;
        }
        .menu_4-1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color:white;
            margin: 0px 20px;
        }
    .contacts-footer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 15px 30px;
        margin-bottom: -21px;
        }
            .contacts_mail-footer {
               margin-right: 25px
            }
                .contacts_mail span {
                    
                }
                .contacts_mai-footer  {
                    margin-left: 10px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: white;
                }
                .contacts_mail img {
                    margin-bottom: 0px;
                }
            .contacts_tel {
                padding: 15px 30px;
            }
                .contacts_tel span {
                    position: absolute;
                    left: 210px;
                    bottom: 15px;
                }
                .contacts_tel-footer {
                    margin-left: 8px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: white;
                    margin-right: 21px;
                }
                .contacts_tel img {
                    margin-bottom: 0px;
                }
    .footer_foto-4 {
        margin-left: 0px;
        
    }
    .footer-p {
        margin-top: 94px;
        margin-left: 74px;
    }
    .footer-p-1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: white;
        
    }   
    .footer-p-2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: white;
        margin-left: 500px;
        margin-top: -30px;
    }
    .shadov-2  {
        background: rgba(17, 17, 17, 0.5);
        width: 100%;
    }
    .shadow-3 {
        background:linear-gradient(rgba(17, 17, 17, 0.8),rgba(17, 17, 17, 0.5));
        width: 100%;
        margin-top: 394px;
        padding-bottom: 11px;
        
        
    }
    