body {
    max-width: 1440px;
    padding-top: 15px;
    margin: 0px auto;
}
/*HEADER*/
header {
    background: #F4F6F9;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 166px; 
}
/*left-side-header*/
.left-side-header {
    display: flex;
    flex-direction: column;
}
.menu {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.sport {
    font-family: Product Sans;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #5282F0;
    margin-left: 10px;
    
} 
.left-side-header h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    margin-top: 50px;
}
.left-side-header p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    margin-right: 55px;
}
/* Button to download*/
.button-header {
    display: flex;
    flex-direction: row;
    margin-top: 10% 0% ;
    
}
/*Google*/
.google_play {
    width: 45%;
    display: flex;
    flex-direction: row;
    background: #000000;
    border-radius: 7.33503px;
    padding: 5px 5px;  
    margin-left: 5%;
    position: relative;
    height: 60px;
    }
.icon-google {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 15px;
}
.google {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17.6041px;
    line-height: 21px;
    position: absolute;
    left: 63px;
}
.google_play p {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
/*Apple*/
.apple_play {
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: row; 
    background: #000000;
    border-radius: 7.33503px;
    padding: 15px 5px;
    text-decoration: none;
    position: relative;
    height: 40px;
}
.icon-apple {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    position: absolute;
    top: 17px;
    bottom: 0px;
}
.apple {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21.2716px;
    line-height: 25px;
    position: absolute;
    left: 63px;
    bottom: 0px;
    top: 9px;

}
.apple_play p {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.0025px;
    line-height: 0px;
    margin-right: 0px;
}

/*Ride-side-header*/
.ride-side-header {
    margin-left: 0px;
}
@media screen and (min-width: 360px) and (max-width: 720px){
    header {
        padding: 0px 30px 50px 30px;
    }
    .left-side-header {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .left-side-header h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .left-side-header p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
    .button-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .apple_play {
        width: 150px;
    }
    .apple {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15.2716px;
        line-height: 0px;
        position: absolute;
        left: 45px;
        bottom: 0px;
        top: 15px;
        
    }
    .apple_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11.0025px;
        line-height: 0px;
        margin-right: 0px;
    }
    .google_play {
        width: 150px;
    }
    .google {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15.6041px;
        line-height: 0px;
        position: absolute;
        left: 53px;
        bottom: 29px;
        
    }
    .google_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 1px;
    }   
    .ride-side-header {
        display: none;
    }
    
}
@media screen and (min-width: 720px) and (max-width: 890px) {
     header {
        padding: 0px 30px 50px 30px;
        }
    .left-side-header {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .left-side-header h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .left-side-header p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
    .button-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .apple_play {
        width: 150px;
    }
    .apple {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15.2716px;
        line-height: 0px;
        position: absolute;
        left: 45px;
        bottom: 0px;
        top: 15px;
        
    }
    .apple_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11.0025px;
        line-height: 0px;
        margin-right: 0px;
    }
    .google_play {
        width: 150px;
    }
    .google {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15.6041px;
        line-height: 0px;
        position: absolute;
        left: 53px;
        bottom: 29px;
        
    }
    .google_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 1px;
    }   
    .ride-side-header {
        display: none;
    }
}
@media screen and (min-width: 890px) and (max-width: 1024px) {
     header {
        padding-left: 30px;
        }
    .left-side-header {
        display: flex;
        flex-direction: column;
        margin-right: -480px;
    }
    .left-side-header h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        z-index: 2;
    }
    .left-side-header p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        padding-right: 100px;
        z-index: 2;
    }
    .button-header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 159px;
        flex-direction: column;
    }
    .apple_play {
        width: 150px;
        margin-top: 0px;
    }
    .apple {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15.2716px;
        line-height: 0px;
        position: absolute;
        left: 45px;
        bottom: 0px;
        top: 15px;
        
    }
    .apple_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11.0025px;
        line-height: 0px;
        margin-right: 0px;
    }
    .google_play {
        width: 150px;
        margin-top: -164px;
        margin-left: 0px;
    }
    .google {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15.6041px;
        line-height: 0px;
        position: absolute;
        left: 53px;
        bottom: 29px;
        
    }
    .google_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 1px;
    }   
    .ride-side-header {
        
    }
}
@media screen and (min-width: 1024px) and (max-width: 1390px) {
     header {
        padding-left: 30px;
        }
    .left-side-header {
        display: flex;
        flex-direction: column;
        margin-right: -480px;
    }
    .left-side-header h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        z-index: 2;
    }
    .left-side-header p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        padding-right: 100px;
        z-index: 2;
    }
    .button-header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 87px;
        margin-left: 45px;
    }
    .apple_play {
        width: 150px;
    }
    .apple {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15.2716px;
        line-height: 0px;
        position: absolute;
        left: 45px;
        bottom: 0px;
        top: 15px; 
    }
    .apple_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11.0025px;
        line-height: 0px;
        margin-right: 0px;
    }
    .google_play {
        width: 150px;
    }
    .google {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15.6041px;
        line-height: 0px;
        position: absolute;
        left: 53px;
        bottom: 29px;
    }
    .google_play p {
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 1px;
    }   
    .ride-side-header {
        
    }
}
/*MAINE*/

/*Box-1*/
.box-1 {
display: flex;
flex-direction: row;
}
/*left-side-box-1*/
.left-side-box-1 {

}
.baner-box-1 {
}
.background-box-1 {
    width: 100%;
}
.baner2-box-1 {
    z-index: 1;
    margin-top: -476px;
}
.foto-2-box-1 {
   max-width: 350px;
}
.baner3-box-1 {
    margin: -16px 0px 0px 165px;
    z-index: 1;
}
.foto-1-box-1 {
    max-width: 350px;
    z-index: 1;
}

/*Ride-side-box-1*/
.ride-side-box-1 {
    display: flex;
    flex-direction: column;
    padding: 150px 50px 150px 0px;

}
.ride-side-box-1 h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

}
.ride-side-box-1 h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}
.p-box {
    display: flex;
    flex-direction: column;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

}
@media screen and (min-width: 360px) and (max-width: 720px) {
    /*Box-1*/
    .box-1 {
        display: flex;
        flex-direction:column;
    }
    /*left-side-box-1*/
    .left-side-box-1 {
        order: 2;
        position: relative;
    }
    .baner-box-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .background-box-1 {
        width: 100%;
    }
    .baner2-box-1 {
        position: absolute;
        top: 520px;
        left: 52px; 
    }
    .foto-2-box-1  {
        width: 200px;
    }
    .baner3-box-1 {
        position: absolute;
        top: 156px;
        right: 51px;
    }
    .foto-1-box-1 {
       width: 200px;
    }
    /*Ride-side-box-1*/
    .ride-side-box-1 {
        display: flex;
        flex-direction: column;
        order: 1;
        padding: 50px 10px;
    }
    .ride-side-box-1 h3 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
    }
    .ride-side-box-1 h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        text-align: center;
    }
    .p-box {
        display: flex;
        flex-direction: column;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }
}
@media screen and (min-width: 720px) and (max-width: 890px) {
    /*Box-1*/
    .box-1 {
        display: flex;
        flex-direction:row;
    }
    /*left-side-box-1*/
    .left-side-box-1 {
        position: relative;
        width: 100%;
    }
    .baner-box-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 140px;
    }
    .background-box-1 {
        width: 500px;
        height: 500px;
    }
    .baner2-box-1 {
        position: absolute;
        top: 720px;
        left: 52px; 
    }
    .foto-2-box-1  {
        width: 300px;
    }
    .baner3-box-1 {
        position: absolute;
        top: 435px;
        right: 51px;
    }
    .foto-1-box-1 {
       width: 300px;
    }
    /*Ride-side-box-1*/
    .ride-side-box-1 {
        display: flex;
        flex-direction: column;
        padding: 50px 30px;
    }
    .ride-side-box-1 h3 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
    }
    .ride-side-box-1 h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
    }
    .p-box {
        display: flex;
        flex-direction: column;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    } 
}
@media screen and (min-width: 890px) and (max-width: 1024px) {
    /*Box-1*/
    .box-1 {
        display: flex;
        flex-direction:row;
    }
    /*left-side-box-1*/
    .left-side-box-1 {
        position: relative;
        width: 100%;
    }
    .baner-box-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .background-box-1 {
        width: 550px;
        height: 550px;
    
    }
    .baner2-box-1 {
        position: absolute;
        top: 570px;
        left: 52px; 
    }
    .foto-2-box-1  {
        width: 400px;
    }
    .baner3-box-1 {
        position: absolute;
        top: 290px;
        right: 51px;
    }
    .foto-1-box-1 {
       width: 400px;
    }
    /*Ride-side-box-1*/
    .ride-side-box-1 {
        display: flex;
        flex-direction: column;
        padding: 50px 30px;
    }
    .ride-side-box-1 h3 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
    }
    .ride-side-box-1 h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
    }
    .p-box {
        display: flex;
        flex-direction: column;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    } 
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
    /*Box-1*/
    .box-1 {
        display: flex;
        flex-direction:row;
    }
    /*left-side-box-1*/
    .left-side-box-1 {
        position: relative;
        width: 100%;
    }
    .baner-box-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .background-box-1 {
        width: 100%;
        height: 550px;
    
    }
    .baner2-box-1 {
        position: absolute;
        top: 570px;
        left: 52px; 
    }
    .foto-2-box-1  {
        width: 600px;
    }
    .baner3-box-1 {
        position: absolute;
        top: 290px;
        right: 51px;
    }
    .foto-1-box-1 {
       width: 600px;
    }
    /*Ride-side-box-1*/
    .ride-side-box-1 {
        display: flex;
        flex-direction: column;
        padding: 50px 30px;
    }
    .ride-side-box-1 h3 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
    }
    .ride-side-box-1 h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
    }
    .p-box {
        display: flex;
        flex-direction: column;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    } 
}
/*Box-2*/
.box-2 {
    display: flex;
    flex-direction: row;
    background: url(../pictures_HW-9/baner-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}
/* left-side*/
.left-side-box-2 {
    width: 35%;
    margin: 100px 0 100px 100px;
}
.left-side-box-2 h3 {

}
.left-side-box-2 h2{

}
.p-box-2 {

}

}
@media screen and (min-width: 360px) and (max-width: 720px) {
    .box-2 {
    display: flex;
    display: none;
    }
    .left-side-box-2 {
        order: 1;
    
   }
   .ride-side-box-2 {
       background-image: url(../pictures_HW-9/baner-3-small.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
       min-height: 300px;
       min-width: 200px;
       order: 2;
   }
}
/*Box-3*/
.box-3_backgroung {
    background-color: #00ADEE;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 28px;
    line-height: 37px;
}
.box-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:minmax(150px , 200px) ;
    gap: 20px;
    background-color: #00ADEE;
    padding: 100px;
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;

}
.box-3 p {
    text-align: left;
}
@media screen and (min-width: 360px) and (max-width: 720px) {
        .box-3_backgroung {
        background-color:#FAFAFA ;
        text-align: center;
        color: black;
        padding-top: 50px;
        font-size: 28px;
        line-height: 37px;
        text-align: center;
        width: 100%;
    }
    .box-3 {
        display: flex;
        flex-direction: column;
        background-color:#FAFAFA; 
        padding: 0px;
        color: black;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        width: 100%;
        text-align: center;

    }
    .icon {
        fill:#00ADEE ;
        margin-bottom: 30px;
    }
    .box-3 p {
    text-align: center;
    }   
}
/*BOX-4*/
.box-4 {
    text-align: center;
    padding: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}
.list_comet {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.group {
    position: absolute;
}


.group_left{
    top: 50%;
    left: 100px;
}


.group_right {
    top:50%;
    right: 100px;
}
.group_bottom {
    bottom: -30px;
    left: 50%;
}
@media screen and (min-width: 360px) and (max-width: 720px) {
    .box-4 {
        padding: 50px 0px 50px 50px;
    }
    .invisibel {
        
        display: none;
    }
    .maine_comet {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 50px;
    }
    .group_right {
    top:30%;
    right: -100px;
    }
}
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .invisibel-1 {
        display: none;
    }
}
/*box-5*/
.box-5 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    padding-top: 50px;
    background: #FAFAFA;
    width: 100%;
}
.list_logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}
@media screen and (min-width: 360px) and (max-width: 720px) {
    .box-5 {
        text-align: justify;
        padding: 50px;
    }
    .list_logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 50px 0px;
    }
}
/*BOX-6*/
.box-6 {
    display: flex;
    flex-direction: row;
    padding:50px 0px;
}
.box-6 h3 {
    color: black;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}
.box-6 p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: black;

}
.box-6_left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    min-width: 50%;
}
.box-6_left-side img {
    max-width: 100%;
    max-height: 100%;
}
/*buttons*/
.button-footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.apple_play-1 {
    margin-right: 20px;
}
@media screen and (min-width: 360px) and (max-width: 720px) {
    .box-6 {
        display: flex;
        flex-direction: column;
    }
    .box-6_left-side {
        order: 2;
    }
    .box-6_right-side {
        order: 1;
        padding: 50px 0px 50px 20px;
        text-align: center;
    }
    .button-footer {
        display: flex;
        justify-content: space-between;
    }
}
/*FOOTER*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #00ADEE;
    padding: 50px 160px;
    color: white;
}
.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
.footer_menu-1 {
    margin-right: 10px;
}

@media screen and (min-width: 360px) and (max-width: 720px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
    }
    .footer_log {
        order: 1;
        padding-bottom: 10px;
    }
    .footer_menu {
        order: 3;
        max-width: 100%;
    }
    .footer_pages {
        order: 2;
        padding-bottom: 10px;
    }
}