body {
    background-color: #E5E5E5;
}
.conteiner {
    max-width: 1400px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 0px auto;
}
/** Avenir-Regular 400 **/
@font-face {
	font-family: 'Avenir';
	src: url('../fonts///Avenir 45 Book Regular.eot');
	src: local('☺'), url('../fonts//Avenir 45 Book Regular.woff') format('woff'), url('../fonts//Avenir 45 Book Regular.ttf') format('truetype'), url('../fonts//Avenir 45 Book Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Avenir-Medium 500 **/
@font-face {
	font-family: 'Avenir';
	src: url('../fonts//Avenir 65 Medium.eot');
	src: local('☺'), url('../fonts//Avenir 65 Medium.woff') format('woff'), url('../fonts//Avenir 65 Medium.ttf') format('truetype'), url('../fonts//Avenir 65 Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
/** Avenir-ExtraBold 800 **/
@font-face {
	font-family: 'Avenir';
	src: url('../fonts//Metropolis-ExtraBold.eot');
	src: local('☺'), url('../fonts//Metropolis-ExtraBold.woff') format('woff'), url('../fonts//Metropolis-ExtraBold.ttf') format('truetype'), url('../fonts//Metropolis-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
/** Avenir-black 900 **/
@font-face {
	font-family: 'Avenir';
	src: url('../fonts//Metropolis-Black.eot');
	src: local('☺'), url('../fonts//Metropolis-Black.woff') format('woff'), url('../fonts//Metropolis-Black.ttf') format('truetype'), url('../fonts//Metropolis-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
/** Helvetica Regular-400 **/
@font-face {
	font-family: 'Helvetica';
	src: url('../fonts//Helvetica Regular.eot');
	src: local('☺'), url('../fonts//Helvetica Regular.woff') format('woff'), url('../fonts//Helvetica Regular.ttf') format('truetype'), url('../fonts//Helvetica Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media(max-width:1400px) {
    .conteiner {
        max-width: 970px;
    }
}
@media(max-width:992px) {
    .conteiner {
        max-width: 750px;
    }
}@media(max-width:767px) {
    .conteiner {
        max-width: none;
    }
}
/*Header*/
.container_header {
}
.pictures_header {
  margin-left: 0px;
  margin-top: 0px;
}
.picture_neader1 {
    margin-right: 5px;
}
.button_header {
    background-color: white;
    color:#212353 ;
    border-radius: 26px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 29px;
    padding-right: 33px;
    font-weight: 800;
    font-size: 16px;
    border: none;
    margin-left: 931px;
    margin-bottom: 109px;
    margin-top: -21px;
    font-family: Avenir;
}
.arrow_header {
    margin-left: 5px;
}
.flex-container1 {
    color: #212353;
    margin-top: -21px;
    margin-left: 121px;
    display: flex;
    flex-direction: row;
}
.flex-block-1 {
    margin-right: 40px;
    font-weight: 800;
    font-size: 16px;
    font-family: Avenir;
}
.flex-block-2 {
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    font-family: Avenir;
}
.flex-block-3 {
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
    font-family: Avenir;
}
.flex-block-4 {
    font-weight: 500;
    font-size: 16px;
    font-family: Avenir;
}
.header1 {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    max-width: 600px;
    font-family: Helvetica;  
}
.header2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    max-width: 300px;
    font-family: Avenir; 
}
.learn_more {
    background: #9C69E2;
    border-radius: 50px;
    color: white;
    border: none;
    padding: 16px;
    margin-top: 25px;
    font-family: Avenir;
}
.picture_neader2 {
    margin-left: 327px;
    margin-top: -321px;
}
/*Maine*/
/* Box1*/
.flex-container2 {
    background-color:  #f063b826;;
    border-radius: 50px;
    border: none;
    flex-direction: row;
    display: flex;
    margin-top: 100px;
    margin-right: 242px;
    margin-left: 4px;
} 
.flex-container2 h2 {
    color: #212353;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    max-width: 414px;
    align-items: center;
    margin-top: 110px;
    margin-bottom: -10px;
    font-family: Helvetica;    
} 
.flex-container2 p {
    color: #4B5D68;
    max-width: 413px;
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    font-family: Avenir;
}
.flex-blok-maine-box1-2 {
    display: flex;
    flex-direction: column;
    margin-left: 114px;
}
/*Box2*/
.flex-blok-maine-box2 {
    max-width: 455px;
    margin-top: 150px;
    margin-left: 326px;
    text-align: center;
    margin-bottom: 150px;
}
.flex-blok-maine-box2 h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    text-align: center;
    font-family: Helvetica;
}
.flex-blok-maine-box2 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.flex-container3 {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin: 100px,auto 0;
    align-content: space-between;
}
.margin_let {
    margin-left: 25px;
    margin-top: -43px;
}
.margin_let_p {
    margin-top: 10px;
}
.flex-container3 p {
    max-width: 300px;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    font-family: Avenir;
}
.flex-container3 button {
    ont-weight: 900;
    font-size: 16px;
    line-height: 160%;
    border: none;
    background-color:#E5E5E5;
}
.flex-container3 h3 {
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    font-family: Helvetica;
}
.box_1_2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}
.flex-blok-maine-box2-1 {
    display: flex;
    flex-direction: row;
}
.flex-blok-maine-box2-1 img {
    margin-top: 10px ;
}

.flex-blok-maine-box2-2 {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 110px;
}
.box_3_4 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}
.flex-blok-maine-box2-3 {
    display: flex;
    flex-direction: row;
}
.flex-blok-maine-box2-4 {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
/*Box3*/
.conteiner_box3 {
    background: #9C69E2;
    border-radius: 50px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 242px;
    margin-left: 10px;
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 19px;
}
.conteiner_box3 h2 {
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: -40px;
    margin-top: 138px;
    font-family: Helvetica;
}
.conteiner_box3-1 {
    background: #FFFFFF;
    box-shadow: 0px 20px rgba(226, 215, 243, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 70px;
    margin-top: 150px;
    font-family: Avenir;
}
.conteiner_box3-2 {
    margin-left: 30px
}
.conteiner_box3-2 h3{
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    color: #212353;
}
.p-1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #9C69E2;
    margin-top: -18px;
}
.p-2 {
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68
    }
.box-foto {
    margin-bottom: 70px;
}
.box-foto_1 {
  margin-top: 49px;
}
.box-foto_2 {
    margin-left: 878px;
    margin-top: -16px;
}
/*footer*/
.footer {
    border-top:#A26FE8;
    border: 10px;
    padding-top: 200px;
    padding-left: 50px;
    padding-bottom: 200px;
    padding-right: 200px;
}
.flex-conteiner4 {
    display: flex;
    flex-direction: row;
}
.flex-conteiner4 h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    font-family: Helvetica;
}
.flex-conteiner4 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    font-family: Avenir;
}
.button_pink {
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    background-color: #F063B8;
    border-radius: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 37px;
    padding-right: 37px;
    border: none;
    font-family: Avenir;
}   
.button_wite {
    font-weight: 900;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 29px;
    padding-right: 29px;
    margin-left: 30px;
    font-family: Avenir;
}
.buttons {
    margin-top: 50px;
    margin-left: 351px;
}
.flex-conteiner5 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-family: Avenir;
}
.footer_pictures {
}
.footer_pictures1 {  
}
.footer_pictures2 { 
    margin-left: 5px;
}
.flex-conteiner5-1 {
    margin-top: 100px;
}
.flex-conteiner5-1 h4 {
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    margin-top: -35px;
    margin-left: 60px; 
    margin-bottom: 50px;
}
.p5_1_1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #212353;
    max-width: 200px;
}
.p5_1_2 {
    font-size: 16px;
    line-height: 180%;
    color: #212353;
    max-width: 150px;
 }
.p5_1_3 {
    font-size: 12px;
    line-height: 180%;
    color: #212353;
    max-width: 250px;
    margin-top: 100px;
}
.flex-conteiner5-2 {
}
.flex-conteiner5-2 h4 {
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
.flex-conteiner5-2 p {
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}
.flex-conteiner5-3 {  
}
.flex-conteiner5-3 h4 {
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    }
.flex-conteiner5-3 p {
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}
.flex-conteiner5-4 {  
}
.flex-conteiner5-4 h4 {
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
.viber {
   margin-top: 250px;
   margin-left: 150px;
   background-color: #cbb8e4;
   border: none;
   border-radius: 70px;
   padding: 15px;
}
