body {
    max-width: 1440px;
    padding-left: 50px;
    padding-top: 150px;
    padding-bottom: 35px;
    margin: 0px auto;
}
/*NUTON*/
.nuton-maine {
    width: 100%;
    height: 500px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: black;
}
.nuton {
    padding: 50px;
    border: none;
    border-radius: 200px;
    background-color: rgba(5, 88, 230, 0.564);
}
.nutons {
    display: flex;
}
.nuton-2 {
background-image: linear-gradient(90deg, rgba(74, 60, 227, 0.564),  rgb(84, 198, 152) );
}
.nuton-3 {
background-image: linear-gradient(90deg, rgb(84, 198, 152),  rgba(237, 197, 0, 0.948) );
}
.nuton-4 {
background-image: linear-gradient(90deg, rgba(237, 197, 0, 0.948),  rgba(250, 89, 2, 0.982) );
}
.nuton-5 {
background-image: linear-gradient(90deg, rgba(230, 89, 13, 0.982),  rgba(250, 47, 2, 0.982) );
}
.nuton-1 {
    animation-name: nuton;
    animation-duration: 1.20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
   
}
@keyframes nuton {
   25% {
        transform: translate(-50px, -50px);
    }
    50% {
        transform: translate(0px, 0px);
    } 
}
.nuton-7 {
    display: flex;
    animation-name: nuton-7;
    animation-duration: 1.20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(90deg, rgba(176, 61, 35, 0.982),  rgba(250, 2, 2, 0.982) );
}
@keyframes nuton-7 {
   50% {
        transform: translate(0px, 0px);  
    }
   75% {
        transform: translate(50px, -50px);
    }
}
/*BURGER*/ 
.bacrground-burger {
    width: 500px;
    height: 400px;
    margin: 100px auto 0 auto;
    background-color: rgb(26, 26, 26); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-burger {
    width: 70%;
    height: 5px;
    display: inline-block;
    margin-top: -70px;
    cursor: pointer;
}
.menu-burger span {
    width: 100%;
    display: block;
    background: linear-gradient(450deg, #ffffff 0%, #ffffff 70%, #000 70%, #000 85%, #ffffff 85%, #ffffff 100% );
    height: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 2s ease-in-out;
}
.menu-burger::before, .menu-burger::after {
    content: "";
    width: 100%;
    display: block;
    background: linear-gradient(270deg, #ffffff 0%, #ffffff 70%, #000 70%, #000 85%, #ffffff 85%, #ffffff 100% );
    height: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    transition: 2s ease-in-out;
}
.sword-1:hover  {
    transform: rotate(45deg);
    box-shadow: 0px 0px 75px 10px rgb(252, 3, 3); 
}
.sword-1:active {
    box-shadow: 0px 0px 75px 10px rgb(252, 3, 3);
}
.menu-burger:hover::before {
    transform: rotate(-45deg);
    box-shadow: 0px 0px 75px 10px rgb(9, 219, 9);  
}
.menu-burger:active::before {
    box-shadow: 0px 0px 75px 10px rgb(9, 219, 9);
}
.menu-burger:hover:after {
    display: none;
     background-color: black;
}
.menu-burger:active:after {
    background-color: black;
}

 





























.test {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    bbackground: linear-gradient(270deg, #ffffff 0%, #ffffff 70%, #000 70%, #000 85%, #ffffff 85%, #ffffff 100% );
    margin-top: 500px;
}