body {
    background-color: #E5E5E5;
    position: relative;
    width: 100%px;
    padding: 18px;
    left: 24px;
    top: 24px;
}
.header {
    position: absolute;
    font-family: Inter;
    width: auto;
    padding: 15px;
}
/*V.1.1.*/
.header1 {
    width: 82px;
    height: 0px;
    font-size: 40px;
    line-height: 12px;
    display: flex;
    color: #0B2239;
    opacity: 0.3;
    font-family: Inter;
    position: absolute;
    top: -18px; 
}
/*Cookie Banners*/
.header2 {
    position: absolute;
    width: 1123px;
    height: 133px;
    margin-top: 0px;
    font-weight: 900;
    font-size: 110px;
    line-height: 133px;
    display: flex;
    align-items: center;
    font-family: Inter;
    align-items: center;   
}
/*Made by @adarshdk*/
.header3 {
    position: absolute;
    width: 389px;
    height: 48px;
    margin-top: 124px;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    color: #0B2239;
    opacity: 0.3;
    font-family: Inter;
}
/* maine-sectione*/
.maine-sectione {
    position: relative;
    width: 100%;
    margin-top: 350px;
    border: 300px;
    padding: 25px;
}
.substrate {
    
}
/*Examples*/
.examples {
    opacity: 0.3;
    margin: 0px;
    font-family: Inter;
}
/*Baner1*/
.Baner1 {
    padding: 18px;
    width: 1279px;
    left: 0px;
    top: 0px;
    background: #0B2239;
    font-family: Inter;
    position: relative;
    padding-left: 120px;  
    padding-right: 120px;  
}
.content-baner1 {
    color: #ffffff;
    width: 913px;
    height: 34px;
    font-size: 10px;
    line-height: 56px;
    margin: 0px 32px;
}
.Baner1 div {
    margin-right: 30px;
    margin-left: 993px;
    margin-top: -34px;
}
.Baner1 p {
    padding-right: 450px;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    margin-left:23px;
    margin-top: -8px;
}
.Baner1 ins {
    color:#4AD295;
}
.Baner1 button {
    background-color: #4AD295 ;
    margin-left: 6px;
    border: none;
    color: #ffffff;
    width: 134px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    
    padding: 8px;
    margin-right: ;
}
/*Baner2*/
.Baner2 {
    background-color: #2B2627;
    width: 1278px;
    padding: 5px;
    margin-top: 24px;
    font-family: Inter;
    position: relative;
    padding-left: 120px;  
    padding-right: 120px;
}
.Baner2 p {
    width: 1440px;
    padding: 4px;
    color: #ffffff;
    margin-left: 148px;  
}
.img_baner2{
    margin-left: 15px;
}
/*Baner3*/
.Baner3 {
    position: relative;
    font-family: Inter;
    top: 72px;
}
/*Box1-baner3*/
.Box1-baner3 {
    background-color: #ffffff;
    border-radius: 16px;
    width: 661px;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    height: 63px;
}
.maine-conteiner-baner3-box1 {
    padding-top: 0px;
}
.buttons-box1 {
   position: absolute;
   top: 28px;
   left: 171px;
   margin-left: -17px;
   padding-top: 3px;    
}
.button1 {
    border-radius: 100px;
    width: 110px;
    height: 39px;
    padding: 3px;
    margin-left: 288px;
    border: none;font-weight: 500;
    font-size: 12px;
    line-height: 20px;  
}
.button2 {
    border-radius: 100px;
    width: 110px;
    height: 39px;
    padding: 3px;
    color: #ffffff;
    background-color: #EA4C89;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
.Box1-baner3 p {
    width: 362px;
    font-size: 14px;
    line-height: 20px;
    padding: 9px;
    margin-left: 62px;
    margin-top: -15px;
}
.Box1-baner3 img {
    position: absolute;
    padding: 10px;
    width: 35px;
    margin-left: -71px;
    margin-top: 10px;
    background-color: #e6dbdf;
    border-radius: 16px;
}
/*Box2-baner3*/
.Box2-baner3 {
    background-color: #26262B;
    border-radius: 16px;
    width: 667px;
    margin-top: 24px;
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
    position: relative;
}
.Box2-baner3 p {
    color: #ffffff;
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 134px;
    margin-bottom: -33px;
    margin-top: 10px;
}
 .Box2-baner3 button {
     width: 100px;
     margin-bottom: 10px;
     padding: 10px;
     margin-top: -21px;
     margin-left: 550px;
     border-radius: 12px;
     border: none;
 }
 /*Baner4*/
.Baner4 {
    font-family: Roboto;
    padding: 24px;
    width: 417px;
    margin-right: 0px;
    margin-left: -25px;
    margin-top: 150px;
}
/*Box1-baner4*/   
.Box1-baner4 {
    background-color:#1C2540 ;
    color: #ffffff;
    border-radius: 18px;
    width: 339px;
    height: 215px;
    padding: 15px;
    margin-left: 0px;
    padding-bottom: 15px;
    position: relative;
    margin-right: 0px;
}
.Box1-baner4 h1 {
    font-size: 14px;
    line-height: 20px;
    width: 20px;
    padding: 4px;
}
.Box1-baner4 p {
    font-size: 14px;
    line-height: 20px; 
    border: 2px;
    width: 314px;
    padding: 4px;  
}
.Box1-baner4 div {
    font-size: 14px;
    line-height: 20px;
    width: 400px;
    padding: 4px;
    margin-bottom:-45px;
}
.Box2-baner4 img {

}
.buttons2-3 {
    padding: 5px;
}
.button1-4 {
    margin-left: 85px;
    margin-top: 0px; 
    background-color: #09B3AF;
    color: #ffffff;
    padding: 8px;
    border-radius: 6px; 
    border: none;
    font-weight: 500;
    width: 79px;
}
/*Box2-baner4*/
.Box2-baner4 {
    background-color: #ffffff;
    color: black;
    border-radius: 18px;
    width: 338px;
    padding: 15px;
    margin-left: 457px;
    margin-top: -244px;
    position: relative;
}
.Box2-baner4 h1 {
    padding: 15px;
    padding-left: 15px;
    padding-top: 1px;
    padding-right: 15px;
    margin-bottom: -26px;
}
.Box2-baner4 p {
    font-size: 14px;
    line-height: 20px;
    border: 2px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    color: #687F8C;
    margin-top: 10px;   
}
.button2-4 {
    background-color: #EAF0F4;
    color: #687F8C;
    padding: 8px;
    border-radius: 6px;
    width: 160px;
    height: 32px; 
    border: none;   
}
.button3-4 {
    background-color:#40C1A7 ;
    color: #ffffff;
    padding: 8px;
    border-radius: 6px;
    width: 160px;
    height: 32px; 
    border: none; 
}
/*Baner5*/
.Baner5 {
    width: 680px;
    height: 260px;
    font-family: Inter;
    margin-top: 72px;
}
/*Box1-baner5*/
.Box1-baner5 {
    width: 250px;
    padding: 15px;
    color:#15295A ;
    font-size: 28px;
    line-height: 48px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 100px;
}
.Box1-baner5 h1 {
    text-align: center;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
}
.Box1-baner5 p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.Box1-baner5 button {
    margin-left: 76px;
    margin-bottom: 25px; 
    border-radius: 43px;
    background-color: #4A7EFF;
    color: #ffffff;
    border: none;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 24px;
    width: 105px;
    }
/*Box2-baner5*/
.Box2-baner5 {
    background-color: #ffffff;
    color: black;
    border-radius: 8px;
    width: 320px;
    padding: 25px;
    margin-left: 370px;
    margin-top: -290px;  
}
.Box2-baner5 p {
    width: 288px;
    height: 60px;
}
.Box2-baner5 span {
    margin-right: 15px;
}
.Box2-baner5 button {
    background: #6666FF;
    border-radius:5px ;
    color: #FFFFFF; 
    margin-left: 100px;
    border: none; 
    padding: 10px;
    width: 88px;
   margin-top: -7px;
}

